// layout colors
$--indigo-purple: #4b0082;
$--indigo-purple-hover: #3c0068;
$--cherry-pink: #ffb7c5;
$--cherry-pink-hover: #ff5f7e;
$--maya-blue: #73c2fb;
$--maya-blue-hover: #2ca3f9;
$--snow-white: #fcfcfc;
$--snow-white-hover: #cacaca;
$--lime-green: #32cd32;
$--lime-green-hover: #28a428;
$--golden-yellow: #ffdf00;
$--golden-yellow-hover: #ccb200;
$--brigth-red: #de1738;
$--brigth-red-hover: #b2122d;
$--midnight-blue: #003366;
$--midnight-blue-hover: #002952;
$--charcoal-black: #212121;
$--charcoal-black-hover: #1a1a1a;

// light colors
$--sand-white: #e6e6e6;
$--sand-white-hover: #b8b8b8;
$--smoke-white: #f5f5f5;
$--smoke-white-hover: #c4c4c4;

// dark colors
$--space-black: #4d4d4d;
$--space-black-hover: #3e3e3e;
$--night-black: #333333;
$--night-black-hover: #292929;

// //shadows
// $--bottom-thin: inset 0px -1px 0px $--light-gray;
// $--top-thin: inset 0px 1px 0px $--light-gray;
